@model LeadGen.Core.LeadSearch

@{
    ViewBag.Title = "Lead Search Details";
}
<div>
    

    <h2>@Model.Name ( @Model.Leads.Count )</h2>
    
    <div class="pull-right">
        <form action="@Url.Action("AsCsv")">
        <input type="checkbox" name="justwithemail" id="justwithemail"/> Export only emails
        <input type="submit" class="btn pull-right" value="Export to CSV" >  <i class="icon-cog"></i> </input>
        </form>
    </div>

    <ul>
        <li><strong>Terms:</strong> @Model.Terms<br /></li>
        <li><strong>Location:</strong> @Model.Location<br /></li>
        <li><strong>Radius:</strong> @Model.Radius<br /></li>
        <li><strong>Status:</strong> @Model.Status </li>
    </ul>
    
    
</div>

@if (Model.Leads != null )
{
    <style>td { font-size: 12px; }</style>
    <table class="table table-striped">
        <thead><tr>
                    <th>Industry</th><th>Name</th><th>Email</th><th>Phone</th><th>Website</th><th>YP Page</th></tr></thead>
        <tbody>

            @foreach (var listing in Model.Leads)
            {
            <tr>
                <td data-bind="text: PrimaryCategory">@listing.PrimaryCategory</td>
                <td data-bind="text: BusinessName">@listing.BusinessName</td>
                <td data-bind="text: Email">@Html.Raw(string.Join("<br />", listing.Emails ?? new List<string>())) </td>
                <td data-bind="text: Phone">@listing.Phone</td>
                <td>
                @foreach (var website in listing.Websites ?? new List<string>() )
                {
                    <a href="@website"target="_blank">@website</a><br />
                }
                </td>
                <td><a href="@listing.MoreInfoUrl"target="_blank">More Info</a></td>
                
            </tr>
            }
        
        </tbody>
    </table>
}