@model System.Collections.Generic.IEnumerable<LeadGen.Core.LeadSearch>

@{
    
}

<h2>Saved Searches</h2>

<style>
    .progress { margin-bottom: 0px; }

</style>

@if(Model != null && Model.Any())
{
    <table style="width: 100%" class="table table-striped table-condensed">
        <thead>
            <th>Name</th>
            <th>Term</th>
            <th>Location</th>
            <th>Radius</th>
            <th>Total</th>
            <th>Status</th>
        </thead>
        @foreach( var ls in Model )
        {
            <tr>
                <td>@ls.Name</td>
                <td>@ls.Terms</td>
                <td>@ls.Location</td>
                <td>@ls.Radius</td>
                <td>@ls.ListingsFound</td>
                <td>
                    @if( ls.Finished )
                    {
                        <i  class="icon-ok icon-" style="color: #08C "> </i>
                        @Html.ActionLink("Finished", "LeadSearch", "ScrapingJob", new {id = ls.Id}, null);
                    }else if ( ls.ScrapeWebsiteStarted )
                    {
                        <div class="progress progress-striped active">
                            <div class="bar" style="width: 100%;"></div>
                        </div>
                    }
                    else if ( ls.FindDetailsStarted )
                    {
                        <div class="progress progress-striped active">
                            <div class="bar" style="width: 67%;"></div>
                        </div>
                    } else if ( ls.FindListingsStarted )
                    {
                        <div class="progress progress-striped active">
                            <div class="bar" style="width: 33%;"></div>
                        </div>
                    }
                    else
                    {
                        <em style="color: #666">Not Started</em>
                    }
                    

                </td>
            </tr>
        }
    </table>
}